<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <!-- Linkear el css desde el templates
    <link rel="stylesheet" href="/css/nombredelcss.css"> -->
    <title>Document</title>
  </head>
  <body>
  <nav>Menu:</nav>
  <a href="/">Home</a>
  <a href="/books">Books</a>
  <a href="/us">Us</a>
  <a href="/admin/login">Login</a>
  <div class="container">