<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <div class="container__login">
        {% if mensaje %}
        <b>{{mensaje}}</b>
        {% endif %}
        <div class="container__login--cards">
            <div>
                <h3>Inicio de sesion</h3>
            </div>
            <div>
                <form action="/admin/login" method="post">
                    <div>
                        <label for="txtUsuario">Usuario: </label>
                        <input type="text" id="txtUsuario" name="txtUsuario" placeholder="Escriba su usuario">
                    </div>
                    <div>
                        <label for="txtPassword">Usuario: </label>
                        <input type="password" id="txtPassword" name="txtPassword" placeholder="Escriba su contraseña">
                    </div>
                    <button type="submit">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

